<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shopping List with vue</title>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="style.css">
        
        <!-- HTML5 shim and script.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: script.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/script.min.js"></script>
            <![endif]-->
    </head>
    <body>
        
        <div id="app" class="pushable">
            <div class="ui sidebar inverted vertical menu visible fixed left">
              <div class="ui logo item">
                 <b><i class="icon shopping bag olive"></i>Shopping List</b>
              </div>
              <div class="item">
                <div class="ui message orange">
                  Use this app to go shopping with!
                </div>
              </div>
            </div>
           <div class="ui container pusher">
             <div class="ui grid">
                <div class="six wide column">
                   <div id="todo" class="tasklist">
                    <div class="ui header">
                       <i class="icon play circle orange"></i>On The List ({{ todoTasks.length }})
                    </div>
                     <div class="ui segment task"
                          v-bind:class="task.completed? 'done' : 'todo' " 
                          v-for="task in todoTasks">
                       {{ task.id }}. {{ task.name }}: {{ task.description }} completed? {{ task.completed }}
                     </div>
                   </div>
                   <div id="completed" class="tasklist">
                      <div class="ui header">
                       <i class="icon check circle green"></i>In The Basket ({{ completedTasks.length }})
                      </div>
                     <div class="ui segment task" 
                          v-bind:class="task.completed? 'done' : 'todo' "
                          v-for="task in completedTasks">
                       {{ task.id }}. {{ task.name }}: {{ task.description }} completed? {{ task.completed }}
                     </div>
                   </div>
                </div>
              <div class="six wide column">
              </div>
             </div>
           </div>
        </div>
        
        <script src="app.js"></script>
        
    </body>
</html>