.tasklist {
    padding-top: 2em;
}

.task.done {
    background: lightgrey;
    color: #939194;
    text-decoration: line-through;
}

.task.done label {
    text-decoration: line-through;
    opacity: 0.2;
}

.task.done .icon {
    color: blue;
    opacity: 0.2;
}

.task.todo {
    background: lightgoldenrodyellow;
    color: #627F39;
}


.description {
    color: slategrey;
    font-style: italic;
}

 

/* Smartphones (portrait and landscape) -----------  
    @media only screen and (min-device-width : 320px) 
	   and (max-device-width : 480px) {
    .item {
        display: none !important;
    }
    
         
        
     }
     
     
     
    }

*/